{% extends "base.html" %}
{% block page%}products{% endblock %}
{% block content %}
<div class="overlay "></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h4>Sort By:</h4>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    {% if sort_by == 'default' %}
                        Default
                    {% elif sort_by == 'name_asc' %}
                        Name (A-Z)
                    {% elif sort_by == 'name_desc' %}
                        Name (Z-A)
                    {% elif sort_by == 'price_asc' %}
                        Price (Low to High)
                    {% elif sort_by == 'price_desc' %}
                        Price (High to Low)
                    {% elif sort_by == 'category' %}
                        Rating (High to Low)
                    {% elif sort_by == 'category' %}
                        Category(High to Low)
                    {% else %}
                        Sort By
                    {% endif %}
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item {% if sort_by == 'default' %}active{% endif %}" href="?sort_by=default">Default</a></li>
                    <li><a class="dropdown-item {% if sort_by == 'name_asc' %}active{% endif %}" href="?sort_by=name_asc">Name (A-Z)</a></li>
                    <li><a class="dropdown-item {% if sort_by == 'name_desc' %}active{% endif %}" href="?sort_by=name_desc">Name (Z-A)</a></li>
                    <li><a class="dropdown-item {% if sort_by == 'price_asc' %}active{% endif %}" href="?sort_by=price_asc">Price (Low to High)</a></li>
                    <li><a class="dropdown-item {% if sort_by == 'price_desc' %}active{% endif %}" href="?sort_by=price_desc">Price (High to Low)</a></li>
                    <li><a class="dropdown-item {% if sort_by == 'rating' %}active{% endif %}" href="?sort_by=rating">Rating (High to Low rate)</a></li>
                    <li><a class="dropdown-item {% if sort_by == 'category' %}active{% endif %}" href="?sort_by=category">Category </a></li>


                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        
    </div>
    <div class="row">
        
    </div>
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                <h4>{% if search_term %}search term: {{search_term}}{% endif %}</h4>
                {% for product in products %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{product.name}}.">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img src="{{ MEDIA_URL }}noimage.png" class="card-img-top" alt="{{product.name}}">
                            </a>
                            {% endif %}  
                        <div class="card-body">
                            <h6 class="card-title">{{product.name}} </h6>
                            
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{product.price}}</li>
                            {% if product.rating %}
                            <li class="list-group-item">{{ product.rating }}</li>
                            {% else %}
                            <li class="list-group-item">NO Rating </li>
                            {% endif %}
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>


                    </div>
                    
                </div>
                <div class="col-12 d-sm-none">
                    <hr>
                </div>
                {% if forloop.counter|divisibleby:2 %}
                    <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-4">
                        <hr>
                    </div>
                    {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                    <div class="col-12 d-none  d-lg-block d-xl-none mb-4">
                        <hr>
                    </div>
                    {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                    <div class="col-12 d-none d-xl-block mb-4">
                        <hr>
                    </div>
                {% endif %}

                {% endfor %}

            </div>
        </div>
        
    </div>

</div>



{% endblock %}
{% block 'extrajs' %}
{{ block.super }}


    {% endblock %}