{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block 'corecss'%}
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extracss %} 
    
    {% endblock %}
   
    {% block 'corjs' %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> {# jquery for date picking #}
    <script src="https://kit.fontawesome.com/ecedfde1ad.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    {% endblock %}


    <title>{% block cortitle  %}{% endblock %}</title>
</head>
<body class="{% block page %}{% endblock %}">

    {% block nav%} 
    <div  class="container-fluid">
        <div class="row bg-success text-center d-flex ">
            <div class=" p-1 w-50 "><span><a class="text-white fw-bolder " href="tel:020365558489"><i class="fa-solid fa-phone"></i>020365558489</a></span></div>
            <div class=" p-1 w-50 "><span><a class="text-white fw-bolder" href="tel:020365558489"><i class="fa-solid fa-location-dot"></i>find us here</a></span></div>
        </div>
    </div>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light bg-light border-bottom" >
        <div class="container-fluid ">
            <a class="navbar-brand mx-auto d-md-none" href="#">
                <img class='mobile_logo' src="{% static 'logo1.png' %}" alt="Logo" >


            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item d-none ">
                        <a class="navbar-brand mx-auto" href="#">
                            <img  src="{% static 'tooth_logo1.png' %}" alt="Logo" >
                        </a>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dentistry Services
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'products'%}?category=activewear,essencial">Activewear and Essencial</a></li>
                            <li><a class="dropdown-item" href="{% url 'products'%}?category=jeans">Jeans</a></li>
                            <li><a class="dropdown-item" href="{% url 'products'%}?category=shirts">Shirs</a></li>
                            <li><a class="dropdown-item" href="#">Service 3</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Fees</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'products' %}">Dental Store</a>
                    </li>
                    <li class="nav-item d-none d-md-block">
                        <a class="navbar-brand mx-auto" href="#">
                            <img class='desktop_logo' src="{% static 'logo1.png' %}" alt="Logo" >
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-sm-block d-md-none d-lg-block" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Basket</a>
                    </li>
                    <li class="nav-item d-block d-sm-none">
                        <div class="z-3 position-relative p-1 rounded-3"><span><a class="text-white " href="tel:020365558489"><i class="fa-solid fa-square-phone"></i>020365558489</a></span></div>
                    </li>
                    <li class="nav-item d-none  ">
                        <div class="z-3 position-absolute p-1 rounded-3"><span><a class="text-white " href="tel:020365558489">020365558489</a></span></div>
                    </li>

                </ul>
                
            </div>
        </div>  
        
    </nav>
    {% if request.resolver_match.url_name == 'products' %}
        <div class="container-fluid">
            <div class="row ">
               
                <form class="form-inline d-flex justify-content-center position-relative" method="GET" action="{% url 'products' %}">
                    
                <!-- Search bar HTML -->
                <lable for='searchbar'> </lable>
                    <input type="text" name="searchbar" class=" p-1 w-50 rounded-pill" id="searchbar">
                    <!-- <input type="submit" class=" rounded-pill p-1" value="&#xf014"> -->
                    <button type="submit" class="btn search_icon position-absolute  ">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>

                </form>
                
            </div>
            <div class="row category-row d-none d-md-block">
                <div class="container  ">
                    <ul class="category-list d-flex justify-content-center ">
                        <li><a class="category-link px-3 " >Categories : </a></li>
                        <li><a class="category-link px-5 " href="{% url 'products'%}?category=activewear,essencial">Activewear and Essencial</a></li>
                        <li><a class="category-link px-5" href="{% url 'products'%}?category=jeans">Jeans</a></li>
                        <li><a class="category-link px-5" href="{% url 'products'%}?category=shirts">Shirts</a></li>
                        </ul>
                </div>
            </div>

        </div>
        {% endif %}
    
    {% endblock %}

    
    
    <h6>base.html</h6>
    
    {% block content%}

    {% endblock %}
    <button type="button" class="btn btn-outline-info ">
        <a class="btt-link">
        <i class="fa-solid fa-arrow-up"></i>
        </a>
    </button>
    {% block footer%}
    <div class="footer container-fluid pb-4 pt-5 mt-3  position-relative d-md-flex align-items-end">
    
        <img src="{% static 'logo1.png' %}"  class="footer_logo " alt="company logo">
        <div class="container-md p5 mt-3 d-flex flex-wrap  justify-content-center   ">
           
    
            <div class="card    position-relative rounded-4 d-inline-block" style="width:18rem;">
                
                <div class="card-header">
                    Contact Info 
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">call us:020365558489</li>
                    <li class="list-group-item">email:info@hdc.co.uk</li>
                    <li class="list-group-item">address:96 Robert St, London NW1 3QP
                    </li>
                  </ul>
            </div>
            <div class="card   position-relative rounded-4 d-inline-block" style="width:18rem;">
                
                <div class="card-header">
                    Contact Info 
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Monday: 8:00am - 4:00pm</li>
                    <li class="list-group-item">Tuesday: 8:00am - 4:00pm</li>
                    <li class="list-group-item">Wednesday: 8:00am - 4:00pm</li>
                    <li class="list-group-item">Thursday: 8:00am - 4:00pm</li>
                    <li class="list-group-item">Friday:  8:00am - 4:00pm</li>
                    <li class="list-group-item">Saturday: 9:30am - 3:00pm</li>
                    <li class="list-group-item">Sunday: Closed</li>
                  </ul>
            </div>
            <div class="d-none d-md-block position-absolute" style="width: 100%;">
                <div class="card-body">
                </div>
              </div>
    
    
        </div>
    
    </div>
    <footer class="main_footer d-flex p-3">
    
    <img src="{% static 'quality.png' %}"  class="companies" alt="company quality">
    <img src="{% static 'bos.svg' %}"  class="companies" alt="company bos">
    <img src="{% static 'invisalign-logo-png.png' %}"  class="companies " alt="company invisilign">
    <img src="{% static 'gdc-logo-white.png' %}"  class="companies" alt="company dental council">
    
    </footer>
    
    {% endblock %}
    
    {% block 'extrajs' %}
    <script type="text/javascript">
        $('.btt-link').click(function(e){
            window.scrollTo(0,0)
        });
    </script>
    {% endblock %}

</body>
</html>