{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block 'corecss'%}
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extracss %} 
    
    {% endblock %}
   
    {% block 'corjs' %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> {# jquery for date picking #}
    <script src="https://kit.fontawesome.com/ecedfde1ad.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
    {% endblock %}


    <title>{% block cortitle  %}{% endblock %}</title>
</head>
<body class="{% block page %}{% endblock %}">

    {% block nav%} 
    
    <div  class="container-fluid top_nav_book" style="background-color: #428581;">
        <div class="row   text-center d-flex flex-row py-1">
            <div class="hstack gap-3">
            <div class=" p-1 ms-2 "><span><a class="text-light fw-bolder " href="tel:020365558489" title="tel:020365558489"><i class="fa-solid fa-phone px-1 "></i><span class="d-md-none">Call</span><span class="d-none d-md-inline-block">020365558489</span></a></span></div>
            <div class="vr"></div>
            <div class=" p-1 "><span><a class="text-light fw-bolder" href="tel:020365558489"><i class="fa-solid fa-location-dot px-1"></i>Clinic</a></span></div>
            <div class=" p-1 ms-md-auto "><a href="{% url 'book_appointment' %}" class="btn text-light fw-bold border " title="book appointment">Book Now</a></div>
            
            <div class="p1  ms-auto d-md-none ">
                <a class="nav-link dropdown-toggle  " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid text-light fa-user fs-6 border p-2 rounded-circle"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                       <li> <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a></li>
                       <li><a class="dropdown-item {% if request.resolver_match.url_name == 'add_product' %}active{% endif %}" href="{% url 'add_product' %}" target="_blank">Product Management</a></li>

                       <li> <a href="{% url 'admin:index' %}" target="_blank" class="dropdown-item">Admin</a></li>
                       <li><a class="dropdown-item {% if request.resolver_match.url_name == 'admin:index' %}active{% endif %}" href="{% url 'admin:index' %}" target="_blank">Admin</a></li>

                    {% endif %}
                    <li><a class="nav-link {% if request.resolver_match.url_name == 'profile' %}active{% endif %}" href="{% url 'profile' %}" target="_blank">My Profile</a></li>
                    <li> <a href="{% url 'account_logout' %}" class="dropdown-item" target="_blank">Logout <i class="fa-solid fa-right-from-bracket"></i></a></li>
                {% else %}
                <li><a class="dropdown-item {% if request.resolver_match.url_name == 'account_signup' %}active{% endif %}" href="{% url 'account_signup' %}" target="_blank">Register</a></li>
                <li>  <a href="{% url 'account_login' %}" class="dropdown-item" title='login'><span class="d-none " target="_blank" >Login</span> <i class="fa-solid fa-right-to-bracket"></i></a></li>
                {% endif %}
                </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light bg-light border-bottom" >
        <div class="container-fluid ">
            <a class="navbar-brand mx-auto d-md-none"  href="{% url 'home' %}">
                <img class='mobile_logo' src="{% static 'logo1.png' %}" alt="Logo" >
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item d-none ">
                        <a class="navbar-brand mx-auto" href="#">
                            <img  src="{% static 'tooth_logo1.png' %}" alt="Logo" >
                        </a>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dentistry Services
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                           
                            <li><a class="dropdown-item {% if request.resolver_match.url_name == 'general' %}active{% endif %}" href="{% url 'general' %}" target="_blank">General</a></li>
                            <li><a class="dropdown-item {% if request.resolver_match.url_name == 'cosmetic' %}active{% endif %}" href="{% url 'cosmetic' %}" target="_blank">Cosmetic</a></li>
                            <li><a class="dropdown-item {% if request.resolver_match.url_name == 'restorative' %}active{% endif %}" href="{% url 'restorative' %}" target="_blank">Restorative</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'fees' %}active{% endif %}" href="{% url 'fees' %}" target="_blank">Fees</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'products' %}active{% endif %} text-info" href="{% url 'products' %}" target="_blank">Dental Store</a>
                    </li>
                    <li class="nav-item d-none d-md-block">
                        <a class="navbar-brand mx-auto"  href="{% url 'home' %}" target="_blank">
                            <img class='desktop_logo' src="{% static 'logo1.png' %}" alt="Logo" >
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'contact' %}active{% endif %}" href="{% url 'contact' %}" target="_blank">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'about' %}active{% endif %}" href="{% url 'about' %}" target="_blank">About</a>
                    </li>
                    <li class="nav-item d-none d-md-inline-block dropdown">
                        <a class="nav-link dropdown-toggle  " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-user fs-6 border p-2 rounded-circle"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                   <li> <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a></li>
                                   <li><a class="dropdown-item {% if request.resolver_match.url_name == 'add_product' %}active{% endif %}" href="{% url 'add_product' %}" target="_blank">Product Management</a></li>

                                   <li> <a href="{% url 'admin:index' %}" target="_blank" class="dropdown-item">Admin</a></li>
                                   <li><a class="dropdown-item {% if request.resolver_match.url_name == 'admin:index' %}active{% endif %}" href="{% url 'admin:index' %}" target="_blank">Admin</a></li>

                                {% endif %}
                                <li><a class="nav-link {% if request.resolver_match.url_name == 'profile' %}active{% endif %}" href="{% url 'profile' %}" target="_blank">My Profile</a></li>
                                <li> <a href="{% url 'account_logout' %}" class="dropdown-item" target="_blank">Logout <i class="fa-solid fa-right-from-bracket"></i></a></li>
                            {% else %}
                            <li><a class="dropdown-item {% if request.resolver_match.url_name == 'account_signup' %}active{% endif %}" href="{% url 'account_signup' %}" target="_blank">Register</a></li>
                            <li>  <a href="{% url 'account_login' %}" class="dropdown-item" title='login'><span class="d-none " target="_blank" >Login</span> <i class="fa-solid fa-right-to-bracket"></i></a></li>
                            {% endif %}
                        </ul>
                    </li>
                    
                    <li class="list-inline-item">
                        
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link {% if request.resolver_match.url_name == 'view_basket' %}active{% endif %}" href="{% url 'view_basket' %}">
                            <div class="text-center basket_icon_price">
                               {% comment %}  <div><i class="fas fa-shopping-bag fa-lg"></i></div> {% endcomment %}
                                <p class="my-0">
                                    {% if grand_total %}

                                    <div><i class="fas fa-shopping-bag fa-lg "></i><span class="badge d-md-inline position-sm-relative fw-bold  text-danger rounded-pill ">{{product_count}}</span></div>
                                        ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                    <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                        $0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                    
                    
                </ul>
                
            </div>
        </div>  
        
    </nav>
    
    {% comment %} {% if request.resolver_match.url_name == 'products' %} {% endcomment %}
    {% if request.resolver_match.url_name == 'products'  %}
        <div class="container-fluid py-2" style="background-color: #f8f9fa;">
            <div class="d-flex justify-content-between justify-content-md-center"> 
                <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_basket' %}">
                    <div class="text-center basket_icon_price">
                        {% comment %} <div><i class="fas fa-shopping-bag fa-lg"></i></div> {% endcomment %}
                        <p class="my-0 position-relative rounded-circle btn border-info d-md-none">
                            {% if grand_total %}
                                {% comment %} ${{ grand_total|floatformat:2 }} {% endcomment %}
                                
                                <span class="text-danger fw-bold product_count ">{{product_count}}</span><i class="fas fa-shopping-bag fa-lg text-info position-relative"></i>
                                
                            {% else %}
                            <i class="fas fa-shopping-bag fa-lg text-info position-relative"></i>
                            {% endif %}
                        </p>
                    </div>
                </a>
                <form class="form-inline d-flex justify-content-center position-relative  flex-shrink-1" method="GET" action="{% url 'products' %}">
                                
                            <!-- Search bar HTML -->
                            <lable for="searchbar"> </lable>
                                <input type="text" name="searchbar" class="p-2 w-100  rounded-pill" id="searchbar">
                                <!-- <input type="submit" class=" rounded-pill p-1" value="&#xf014"> -->
                                <button type="submit" class="btn bg-success search_icon  ">
                                    <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
                                </button>
            
                            </form>
                
                    
                
            </div>
        
            <div class="row category-row d-none d-md-block">
                <div class="container  ">
                    <ul class="category-list d-flex justify-content-center text-center">
                        <li><a class="category-link px-2 bg-danger " >Categories : </a></li>
                        <li><a class="category-link px-2  " href="{% url 'products'%}?category=dental_care">Dental Care</a></li>
                        <li><a class="category-link px-2" href="{% url 'products'%}?category=oral_hygiene">Oral Hygiene</a></li>
                        <li><a class="category-link px-2" href="{% url 'products'%}?category=health">Health</a></li>
                        <li><a class="category-link px-2" href="{% url 'products'%}?category=dental_accessories">Dental Accessories</a></li>
                        <li><a class="category-link px-2" href="{% url 'products'%}?category=professional_tools">Professional Tools</a></li>
                        <li><a class="category-link px-2" href="{% url 'products'%}?category=gift_sets">Gift Sets</a></li>
                    </ul>
                </div>
            </div>

        </div>
        {% elif  request.resolver_match.url_name == 'product_detail'   %}

        <div class="container-fluid py-2 border-bottom d-md-none" style="background-color: #f8f9fa;">
            <div class="d-flex justify-content-between  ">
                <div class="delivery_fast align-self-center fw-semibold">Fast delivery <img src="{% static 'fast_del.png'%}"></div> 
                <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_basket' %}">
                    
                        {% comment %} <div><i class="fas fa-shopping-bag fa-lg"></i></div> {% endcomment %}
                        
                            {% if grand_total %}
                                
                                <div class=" basket_icon_price">
                                    {% comment %}  <div><i class="fas fa-shopping-bag fa-lg"></i></div> {% endcomment %}
                                    <p>
                                         <div><i class="fas fa-shopping-bag fa-lg d-inline"></i><span class="badge d-inline position-sm-relative fw-bold  text-danger rounded-pill ">{{product_count}}</span></div>
                                             ${{ grand_total|floatformat:2 }}
                                     </p>
                                 </div>
                                
                            {% else %}
                            <i class="fas fa-shopping-bag fa-lg text-info position-relative"></i>
                            $0.00
                            {% endif %}
                        </p>
                    
                </a>
                
                
                    
                
            </div>
        </div>
        {% endif %}
    
    {% endblock %}

    {% comment %} {% if messages %}
    <div class="message_container position-fixed top-1 end-0">
        {% for message in messages %}
        {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toast/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toast/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toast/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toast/toast_info.html' %}
                    {% endif %}
         {% endwith %}

        {% endfor %}
    </div>
    
    
    {% endif %} {% endcomment %}
    {% if messages %}
    <div class="message_container position-fixed top-1 end-0">
        {% for message in messages %}
        {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toast/toast_error2.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toast/toast_warning2.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toast/toast_success2.html' %}
                    {% else %}
                        {% include 'includes/toast/toast_info2.html' %}
                    {% endif %}
         {% endwith %}

        {% endfor %}
    </div>


{% endif %}
    
    <h6>base.html</h6>
    
    {% block content%}

    {% endblock %}
    <button type="button" class="btn btn-outline-info " style="width:4em"
    >
        <a class="btt-link">
        <i class="fa-solid fa-arrow-up"></i>
        </a>
    </button>
    {% block footer%}
    <div class="footer container-fluid     ">
    
        
        <div class="container-md  fstack   ">
           
    
            <div class="card describtion " style="width:18rem;">
                
                <div class="card-body mt-0 first_card">
                    <img src="{% static 'logo12.png' %}" class="card-img-top mb-0" alt="company logo">
                    <p class="card-text">“Dentistry practice committed to enhancing smiles through state-of-the-art procedures.”</p>
            
                    <p class="card-text social"><i class="fa-brands fa-facebook"></i><i class="fa-brands fa-twitter"></i><i class="fa-brands fa-instagram" ></i><i class="fa-brands fa-whatsapp"></i></p>
                </div>
            </div>
            <div class="card   links" style="width:18rem;">
                
                <div class="card-header p-0 ">Company</div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a class="list-group-item {% if request.resolver_match.url_name == 'about' %}active{% endif %}" href="{% url 'about' %}" target="_blank">About Us</a></li>
                    <li class="list-group-item"><a class="list-group-item {% if request.resolver_match.url_name == 'contact' %}active{% endif %}" href="{% url 'fees' %}" target="_blank">Fees</a></li>
                    <li class="list-group-item"><a class="list-group-item {% if request.resolver_match.url_name == 'products' %}active{% endif %}" href="{% url 'products' %}" target="_blank">Our Store</a></li>
                </ul>
            </div>
            <div class="card hours " style="width:18rem;">
                
                <div class="card-header p-0">
                    Oppening Times
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Mon to Fri: 8:00am - 4:00pm <i class="fa-regular fa-clock"></i></li>
                    <li class="list-group-item">Sat: 9:30am - 3:00pm <i class="fa-regular fa-clock"></i></li>
                    <li class="list-group-item">Sun: Closed <i class="fa-solid fa-ban"></i></li>
                  </ul>
            </div>
            

              <div class="card contact  " style="width:18rem;">
                <div class="card-header p-0">
                    Contact Us
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa-solid fa-square-phone"></i>:020365558489</li>
                    <li class="list-group-item"><i class="fa-regular fa-envelope"></i>:info@hdc.co.uk</li>
                    <li class="list-group-item "><i class="fa-solid fa-location-dot" style="color: #fafafa;"></i>:96 Robert St, London NW1 3QP
                    </li>
                    
                  </ul>
            </div>
    
    
        </div>
    
    </div>
    <footer class="main_footer d-flex p-3">
        
    <img src="{% static 'quality.png' %}"  class="companies" alt="company quality">
    <img src="{% static 'bos.svg' %}"  class="companies" alt="company bos">
    <img src="{% static 'invisalign-logo-png.png' %}"  class="companies " alt="company invisilign">
    <img src="{% static 'gdc-logo-white.png' %}"  class="companies" alt="company dental council">
    
    </footer>
    
    {% endblock %}
    
    {% block 'extrajs' %}
    <script type="text/javascript">
        $('.btt-link').click(function(e){
            window.scrollTo(0,0)
        });
    
        $(document).ready(function() {
            {% if messages %}
                $('.toast').toast('show');
            {% endif %}
        });


        window.addEventListener('load', function() {
            const fadeInImages = document.querySelectorAll('.fade-in-image');
          
            function checkImageVisibility() {
              fadeInImages.forEach((image) => {
                const imagePosition = image.getBoundingClientRect().top;
                const windowHeight = window.innerHeight;
          
                // Check if the image is within the viewport
                if (imagePosition < windowHeight * 0.8 && imagePosition > -windowHeight * 0.2) {
                  image.classList.add('in-view');
                } else {
                  image.classList.remove('in-view');
                }
              });
            }
          
            window.addEventListener('scroll', checkImageVisibility);
            checkImageVisibility(); // Check initially when the page loads
          });
    

          //for show active dropdown link 
       {% comment %}    $(document).ready(function() {
            // Check if any dropdown items have the active class on page load
            if ($('.dropdown-menu .dropdown-item.active').length > 0) {
              $('.nav-link.dropdown-toggle').addClass('active');
            }
          }); {% endcomment %}

          // Detect when the user scrolls to the reviews section
        window.addEventListener('scroll', function() {
            const reviewsSection = document.querySelector('.reviews');
            const cards = reviewsSection.querySelectorAll('.review-card');

            // Calculate the position of the reviews section relative to the viewport
            const rect = reviewsSection.getBoundingClientRect();
            const isVisible = rect.top < window.innerHeight && rect.bottom >= 0;

            // Update card opacity if the section is visible
            if (isVisible) {
                cards.forEach(card => {
                    card.style.opacity = 1; // Set the desired opacity value
                });
            }
        });



            
</script>
{% endblock %}
   

</body>
</html>