{% extends "base.html" %}
{% load static %}
{% block cortitle  %}
    homepage
    {% endblock %}
    {% block page %} homepage {% endblock %}
{% block content %}


<main class="container-fluid d-flex  align-items-center">
    <div class="container-sm text_hero align-bottom text-center order-2">
        <h1 >Welcome to Your Dental Practice</h1>
        <h4 class="text-center">Your healthy smile starts here.</h4>
        <a href="{% url 'book_appointment' %}" class="btn text-center rounded-pill">Book Appointment</a>
    </div>
    <div class="container-sm order-md-2  "><img class="hero_image rounded-4 w-100 p-2" src="{% static 'main_hero.jpg' %}" alt="patient_image"></div>


    
</main>
<section class="current_offers container-fluid pb-4 pt-5 mt-3 mb-3">
    <h2>Current offers</h2>
    <div class="container-md p5 mt-3 d-flex flex-wrap gap-4 justify-content-center">
        <div class="card text-center position-relative rounded-4 d-inline-block" style="width: 24rem;">
            <div class="card-body m-3">
              <h5 class="card-title border rounded p-3 text-center rounded-pill ">New patient offer</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Private patient</h6>
              <p class="card-text ">Exam<br>
                X-RAYS<br>
                Gum Assessment<br>
                & CLEANING<br>
                
                <span>ONLY FOR  £69</span></p>
              <a href="#" class="join_now border rounded p-2 px-3 text-center rounded-pill">Join Now</a>
              
            </div>
          </div>

          <div class="card text-center position-relative rounded-4" style="width: 24rem;">
            <div class="card-body m-3">
              <h5 class="card-title border rounded p-3 text-center rounded-pill ">New patient offer</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Private patient</h6>
              <p class="card-text ">Exam<br>
                X-RAYS<br>
                Gum Assessment<br>
                & CLEANING<br>
                
                <span>ONLY FOR  £69</span></p>
              <a href="#" class="join_now">Join Now</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>


    </div>

</section>
<section class="denteistry_services container-fluid pb-4 pt-5 mt-3 mb-3">
    <h2>Dentistry Services</h2>
    <div class="container-md p5 mt-3 d-flex flex-wrap gap-5 justify-content-center">
        <div class="card services text-center position-relative rounded-4 d-inline-block" >
            <img src="{% static 'general_den.webp' %}" class="card-img-top " alt="general checkup">
            <div class="card-body m-3">
              <h5 class="card-title ">General Dentistry</h5>
              <h6 class="card-subtitle mb-2 text-warning text-primary">Private / NHS</h6>
              <p class="card-text ">incorporates a broad range of diseases and disorders of the oral and maxillofacial region.</p>
              <a href="#" class="find_out border rounded p-2 px-3 text-center rounded-pill">Find out more</a>
              
            </div>
        </div>

        <div class="card services text-center position-relative rounded-4 d-inline-block" >
            <img src="{% static 'cosmetic_den.png' %}" class="card-img-top rounded-circle" alt="cosmetic image">
            <div class="card-body m-3">
              <h5 class="card-title ">Cosmetic Dentistry</h5>
              <h6 class="card-subtitle mb-2 text-warning">Private patient</h6>
              <p class="card-text ">Your smile is the first impression that others have of you, making sense that you would want it bright and healthy.</p>
              <a href="#" class="find_out border rounded p-2 px-3 text-center rounded-pill">Find out more</a>
              
            </div>
        </div>
        <div class="card services border border-primary text-center position-relative rounded-4 d-inline-block" >
            <img src="{% static 'restorative_den.png' %}" class="card-img-top rounded-circle" alt="restorative dental">
            <div class="card-body m-3">
              <h5 class="card-title ">Restorative Dentistry</h5>
              <h6 class="card-subtitle mb-2 text-warning">Private patient</h6>
              <p class="card-text ">We offer fillings, crowns, bridges and implants as common restorative options to bring back your smile.</p>
              <a href="#" class="find_out border rounded p-2 px-3 text-center rounded-pill">Find out more</a>
              
            </div>
        </div>


    </div>

</section>

<section class="container-fluid p-5 mt-3 why_choose_us ">
    <h2 class="text-center">Why Choose Us</h2>
    <div class="row d-flex p-2 justify-content-center">
        <div class="col-lg-6 order-1 order-md-2 ">
            <div class="container  list_why pt-5 ">
                <h3>At Healthy Dental Clinic, we offer </h3>
                <ul>
                
                
                    <li>"Quality Family, Cosmetic & More Dentistry"</li>
                
                    <li>"Relaxed Atmosphere & Patient-Centered Care"</li>
                
                    <li>"Advanced Technology & Emergency Services"</li>
                
                    <li>"Flexible Payment Options & Transparent Pricing"</li>
                
                    
                
                
                </ul>
                <p>Let us help you transform your smile!</p>
            </div>
        </div>
        <div class="col-lg-4 order-sm-1 d-flex order-md-2 justify-content-center">

                <img src="{% static 'why_choose_us.png' %}"  class="why_image" alt="image of smiling lady">
        </div>
    </div>
</section>


<div class="container-fluid p-5 mt-1 family_images position-relative text-center">
    <div class="row d-flex">
        <div class="col-md-6 order-1">
            <div class="container">
                <img src="{% static 'family_dentist.jpeg' %}"  class="family_img " alt="family with dentist">
            </div>
        </div>
        <div class="col-md-6 order-2   position-absolute ">
            <div class="container d-flex justify-content-center ">
                
                <img src="{% static 'kids_brush.jpg' %}"  class="kid_img" alt="kid brushing">
            </div>
        </div>
    </div>
</div>
<section class="reviews container-fluid pb-4 pt-5 mt-3 mb-3  d-flex flex-wrap ">
    <h2>What our patient say </h2>
    <div class="container-md p5 mt-3 d-flex flex-wrap gap-5 justify-content-center  ">
        <div class="card border border-primary text-center position-relative rounded-4 d-inline-block" style="width:18rem;">
            
            <div class="card-body m-3">
              <h5 class="card-title ">Toomie Lee</h5>
              <p class="card-subtitle mb-2 text-body-secondary"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></p>
              <p class="card-text ">incorporates a broad range of diseases and disorders of the oral and maxillofacial region.</p>
              
              
            </div>
        </div>

        <div class="card border border-primary text-center position-relative rounded-4 d-inline-block" style="width:18rem;">
            
            <div class="card-body m-3">
              <h5 class="card-title ">Toomie Lee</h5>
              <p class="card-subtitle mb-2 text-body-secondary"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></p>
              <p class="card-text ">Your smile is the first impression that others have of you, making sense that you would want it bright and healthy.</p>
              
              
            </div>
        </div>
        <div class="card text-center position-relative rounded-4 d-inline-block" style="width:18rem;">
            
            <div class="card-body m-3">
              <h5 class="card-title ">Toomie Lee</h5>
              <p class="card-subtitle mb-2 text-body-secondary"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></p>
              <p class="card-text ">We offer fillings, crowns, bridges and implants as common restorative options to bring back your smile.</p>
              
              
            </div>
        </div>


    </div>

</section>
<!-- <div class="footer container-fluid pb-4 pt-5 mt-3  position-relative d-md-flex align-items-end">
    
    <img src="{% static 'logo1.png' %}"  class="footer_logo " alt="company logo">
    <div class="container-md p5 mt-3 d-flex flex-wrap  justify-content-center   ">
       

        <div class="card    position-relative rounded-4 d-inline-block" style="width:18rem;">
            
            <div class="card-header">
                Contact Info 
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">call us:020365558489</li>
                <li class="list-group-item">email:info@hdc.co.uk</li>
                <li class="list-group-item">address:96 Robert St, London NW1 3QP
                </li>
              </ul>
        </div>
        <div class="card   position-relative rounded-4 d-inline-block" style="width:18rem;">
            
            <div class="card-header">
                Contact Info 
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Monday: 8:00am - 4:00pm</li>
                <li class="list-group-item">Tuesday: 8:00am - 4:00pm</li>
                <li class="list-group-item">Wednesday: 8:00am - 4:00pm</li>
                <li class="list-group-item">Thursday: 8:00am - 4:00pm</li>
                <li class="list-group-item">Friday:  8:00am - 4:00pm</li>
                <li class="list-group-item">Saturday: 9:30am - 3:00pm</li>
                <li class="list-group-item">Sunday: Closed</li>
              </ul>
        </div>
        <div class="d-none d-md-block position-absolute" style="width: 100%;">
            <div class="card-body">
            </div>
          </div>


    </div>

</div>
<footer class="main_footer d-flex p-3">

<img src="{% static 'quality.png' %}"  class="companies" alt="company quality">
<img src="{% static 'bos.svg' %}"  class="companies" alt="company bos">
<img src="{% static 'invisalign-logo-png.png' %}"  class="companies " alt="company invisilign">
<img src="{% static 'gdc-logo-white.png' %}"  class="companies" alt="company dental council">

</footer>
 -->


{% endblock %}