{% extends "base.html" %}

{% load static %}
{% block page%}general{% endblock %}
{% block content %}

<section id="general-dentistry " class=" bg-primary-subtle">
    <div class="container pt-5">
      <div class="row bg-light mb-2 p-4">
      <h1>General Dentistry: Comprehensive Oral Care</h1>
      <p class="intro">General Dentistry: Comprehensive Oral Care
        At Healthy Dental Clinic, our General Dentistry services cover a wide spectrum of oral health needs. Whether you’re due for a routine checkup or require treatment, our skilled team is here to ensure your smile stays healthy and vibrant</p>
      </div >
      <div class="row align-items-center mb-2"> 
        <div class="col-md-6 order-md-2"> 
          <img src="{% static 'exam_dent3.jpg' %}" alt="Dentist Examining Patient" class="img-fluid rounded"> 
        </div>
        <div class="col-md-6 order-md-1">
          <h2>What Is General Dentistry?</h2>
          <p>General Dentistry serves as the foundation of oral care. Our general dentists are your primary dental care providers, offering services to patients of all ages.Here’s what we focus on:</p>
        </div> 
      </div>
  
      <div class="row align-items-center bg-light"> 
        <div class="col-md-6"> 
          <img src="{% static 'dental_cleaning.jpg' %}" alt="Dental Cleaning" class="img-fluid rounded">
        </div>
        <div class="col-md-6"> 
          <h2 style="color:rgba(0, 109, 159, 1);">Preventive Care:</h2>
          <ul>
            <li>Regular dental exams and professional teeth cleanings.</li>
            <li>X-rays to detect hidden issues.</li>
            <li>Education on proper oral hygiene practices</li>
            </ul>

            <h2>Basic Dental Services: </h2>
            <ul>
              <li>Addressing gum disease (gingivitis).</li>
              <li>Oral cancer screenings..</li>
              <li>Fluoride treatments.</li>
              <li>Sealants to protect teeth.</li>
              </ul>

        </div>
      </div>


      

      <div class="row align-items-center py-5 px-2"> 
       
        <div class="col-md-12 order-md-1 text-center">
          <h2 class="">When Should You See a General Dentist?</h2>
          <p class=" fw-medium fs-5"><span class="text-info-emphasis fw-semibold">Twice a Year</span>:<br> Schedule visits every six months for optimal care.
            Significant Changes: If you experience any oral discomfort or notice changes, seek an appointment promptly.</p>
            <a href="{% url 'book_appointment' %}" class="btn text-center rounded-pill ">Book Appointment</a>
            

            <p class="fw-medium pt-2">*Schedule Your Consultation<br>
              Don't let dental issues hold you back from smiling with confidence. Schedule a consultation with Healthy Dental Clinic today to learn more about our restorative dentistry services and discover the right solution for your smile.</p>

        </div> 
      </div>


      <div class="container align-items-center ">
        <h2>Our Fees</h2>
        <table class="fee-table rounded">
          <thead>
            <tr>
              <th>Service</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>X-ray</td>
              <td>from £50</td>
            </tr>
            <tr>
              <td>Fluoride treatments</td>
              <td>from £130</td>
            </tr>
            <tr>
              <td>Emergency treatment</td>
              <td>from £130</td>
            </tr>
            <tr>
              <td>Hygienist</td>
              <td>£320</td>
            </tr>
            <tr>
              <td>Mouthguard</td>
              <td>£80</td>
            </tr>
          </tbody>
        </table>
        <p class="discount-note text-danger">
          Join us and enjoy a 20% discount on fees!<br>
          <span class="text-dark ">call now : 020365558489</span>
        </p>
      </div>

      
  
      </div>
  </section>

  

  

{% endblock %}