{% extends "base.html" %}
{% load static %}
{% block cortitle  %}
    reviews
    {% endblock %}
    {% block page %} review_page {% endblock %}

    {% block content %}
<div class="container">
    <div class="whole_reviews d-flex flex-wrap gap-2">
        
            {% for review in reviews %}
                <div class="card">
                    {% if review.image %}
                            <img src="{{ review.image.url }}" class="card-img-top" alt="Review Image">
                        {% else %}
                            <img src="{% static 'noimage.png' %}" class="card-img-top" alt="No Image">
                    {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">Rating: {{ review.rating }} Stars</h5>
                            <p class="card-text">{{ review.comment }}</p>
                            <p class="card-text"><small class="text-muted">Reviewed on {{ review.created_at }}</small></p>
                        </div>
                        {% if review.user == request.user or request.user.is_staff %}
                        <div class="card-footer">
                            <a href="{% url 'edit_review' review.id %}" class="btn btn-outline-primary btn-sm">Edit</a>
                            <a href="{% url 'delete_review' review.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
                        </div>
                         {% endif %}
                </div>
            
        {% endfor %}

        
    </div>

    
           
          
          
<hr>
<a href="{% url 'add_review' %}" class="btn btn-primary">Add Review page</a>

         
          


    </div>
</div>

{% endblock %}
{% block 'extrajs' %}
{{ block.super }}


{% endblock %}